# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# macOS system files
.DS_Store

# Virtual environments
.env/
venv/
ENV/
env.bak/
*.env

# Apple Health exports and personal data
*.xml
*.zip
*.csv
*.txt
*.xlsx
*.png

# Jupyter checkpoints
*.ipynb_checkpoints

# Logs and temp files
*.log
*.tmp